{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "plugins": ["prettier", "react-hooks", "react"],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "es5",
          "singleQuote": true,
          "printWidth": 100
        }
      ],
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": [".storybook/**", "**/*.stories.js"]
        }
      ]
    },
    "env": {
      "browser": true
    }
  }
  